.expense-form-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #eee;
    margin:0 1rem;
}
.expense-form-control label{
    font-size: 1.2rem;
    font-weight: bold;
}

.expense-form-control select{
    padding: 0.4rem;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 8px;
}